
name: Generate GitHub Summary Cards

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: vn7n24fzkq/github-profile-summary-cards@release
        with:
          USERNAME: Bhupendra-glitch
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
